{% extends 'base.html.twig' %}

{% block title %}Lokacja{% endblock %}

{% block body %}
    <h1>Lokacja</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ location.id }}</td>
            </tr>
            <tr>
                <th>Miasto</th>
                <td>{{ location.city }}</td>
            </tr>
            <tr>
                <th>Kraj</th>
                <td>{{ location.country }}</td>
            </tr>
            <tr>
                <th>Długość</th>
                <td>{{ location.longitude }}</td>
            </tr>
            <tr>
                <th>Szerokość</th>
                <td>{{ location.latitude }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_location_index') }}" class="btn btn-light">Powrót</a>

    <a href="{{ path('app_location_edit', {'id': location.id}) }}" class="btn btn-light">Edytuj</a>

    {{ include('location/_delete_form.html.twig') }}
{% endblock %}
